.navbar {
    background-color: rgb(35, 34, 33);
    height: 70px;
  }
  .navbar.ul {
    display: inline-block;
  }
  .navbar li {
    color: white;
    float: inline-end;
    padding: 7px;
    
  }
  .navbar li {
    list-style: none;
    display: inline;
    position: relative;
    top: -20px;
    left: -70px;
  }
  .navbar h3{
    position: relative;
    top: 25px;
    left: 70px;
  }
  .Welcome {
    color: white;
  }
  .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 100px;
  }
  .card2{
    display: inline-flex;
  }
  .card1 img{
    align-items: center; 
  }
  section{
    display: inline-block;;
  }
  .card2 img{
    border-style: solid;
    border-width: thin;
    border: 10px;
    padding: 15px;

  }
  .cd{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: thin;
  }
  .cd2{
    display: flex;
    flex-direction: column;
    border-style:solid ;
    border-width: thin ;
  }
  footer{
    background-color: black;
    height: 50px;
  }
  footer p{
    color: white;
  }